<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/equmentindex">設備即時監控</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/equmentindex">首頁</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/frontMaintain">前保參數維護</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/backMaintain">後保參數維護</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/backAxMaintain">後軸參數維護</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/frontPick">前保撿配</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/backPick">後保撿配</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/backAxPick">後軸撿配</a>
          </li> -->

        </ul>
      </div>
    </div>
  </nav>