<br><br>
<div class="container">
    <div class="row">
        <h1>登入</h1>
        <div class="col-sm d-grid gap-2">
            <a  class="btn btn-outline-dark pding" routerLink="/equmentindex">
                <img src="assets/pic/pencil.png" class="imgmar">
                <span style="text-align: center;font-weight: 900;">equment-index</span> 
            </a>
        </div>
        <!-- <div class="col-sm d-grid gap-2">
            <a class="btn btn-outline-dark pding" routerLink="/backMaintain">
                <img src="assets/pic/pencil.png" class="imgmar">
                <span style="text-align: center;font-weight: 900;">後保參數維護</span> 
            </a>
        </div>
        <div class="col-sm d-grid gap-2">
                
        <a class="btn btn-outline-dark pding" routerLink="/backAxMaintain">
            <img src="assets/pic/pencil.png" class="imgmar">
            <span style="text-align: center;font-weight: 900;">後軸參數維護</span> 
        </a>
        </div> -->
    </div>
    <br>
<!-- <div class="row">
        <div class="col-sm d-grid gap-2">
            <a class="btn btn-outline-dark pding" routerLink="/frontPick">
                <img src="../../assets/pic/car-alt.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">前保撿配</span> 
            </a>    
        </div>
        <div class="col-sm d-grid gap-2">
            <a class="btn btn-outline-dark pding" routerLink="/backPick">
                <img src="../../assets/pic/car-alt.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">後保撿配</span> 
            </a>        
        </div>
        <div class="col-sm d-grid gap-2">
            <a class="btn btn-outline-dark pding" routerLink="/backAxPick">
                <img src="../../assets/pic/car-alt.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">後軸撿配</span>
            </a>     
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 d-grid gap-2" >
            <a  class="btn btn-outline-dark pding" href="assets/exe/pickUpApp.7z" download>
                <img src="assets/pic/download-circular-button.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">EXCEL匯入程式</span> 
            </a>  
        </div>  
        <div class="col-sm-4 d-grid gap-2" >
            <a  class="btn btn-outline-dark pding" routerLink="/illustrate">
                <img src="assets/pic/customer-support.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">操作手冊</span> 
            </a>  
        </div>  
        <div class="col-sm-4 d-grid gap-2" >
            <a  class="btn btn-outline-dark pding" routerLink="/setnum">
                <img src="assets/pic/customer-support.png" class="imgmar">
                <span style="text-align: center;font-weight: 1200;">畫面起始設定</span> 
            </a>  
        </div> 
    </div> -->
</div>

<footer class="footer bg-light text-dark fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About</h3>
                <p>設備監控系統</p>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <address>
                    <p>數位推動組20231222</p>
                </address>
            </div>

        </div>
    </div>
</footer>









